@import '../../../variables.scss';

.wrapper > a {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    color: rgba(255,255,255,1.0);
    text-decoration: none;

    &:hover {
        color: $white;
    }

    .content {
        display: flex;
        align-items: center;
        transition: display $delay;

        .icon {
            margin-right: 0.2rem;
            display: flex;
            align-items: center;
            font-size: 1.3rem;
        }

        .description {
            font-size: 0.9rem;
            display: flex;
            align-items: center;
            transition: font-size $delay;
        }

        @media (max-width: $max-width-cellular) {
            .icon {
                justify-content: center;
            }
    
            .description {
                font-size: 0.8rem;
            }
        }
    }

    .isNorrow {
        flex-direction: column;
        
        .icon {
            justify-content: center;
        }

        .description {
            font-size: 0.8rem;
        }
    }

    .arrow {
        justify-content: center;
        display: flex;
        transition: transform $half-delay;

    }

    .isExpand {
        transform: rotate(90deg);
        margin-top: 0px;
    }

    .isNarrowArrow {
        display: none;
    }
}

// @media (min-width: $max-width-cellular) {
//     .wrapper > a {
//         justify-content: center;
//     }
// }

// @media (max-width: $max-width-cellular) {
//     .wrapper > a {
//         justify-content: space-between;
//     }
// }

.subContent {
    background-color: white;
    color: black;
    max-height: 0;
    overflow: hidden;
    transition: max-height $half-delay, margin-top $half-delay;
    border-radius: 5px;
    margin-top: 0px;

    > a {
        background-color: white;
        color: black;
        text-decoration: none;
    }

    > a > div {
        margin-left: $innermargin;
        margin-right: $innermargin;
        margin-top: $innermargin;
        margin-bottom: $innermargin;
        padding-left: calc(#{$innermargin} * 2);
        padding-right: calc(#{$innermargin} * 2);
        padding-top: $innermargin;
        padding-bottom: $innermargin;
        font-size: 0.8em;
        font-weight: 300;
        cursor: pointer;
        border-radius: 5px;

        &:hover {
            background-color: #dddfeb;
        }
    }
}

.isExpand {
    max-height: 500px;
    margin-top: calc(#{$innermargin} * 2);
}

@media (min-width: $max-width-cellular) {
    .isNarrow {
        position: absolute;
        left: 96px;
        top: -24px;
        box-shadow: 0 0.15rem 1.75rem 0 rgba(58,59,69,0.15);
    } 
}

.isNorrowWrapper {
    justify-content: center;

    a {
        justify-content: center;
    }
}