@import '../../variables.scss';

$padding: 1.6rem;

.navHeader {
    background-color: $white;
    color:$dark-gray;
    height: $header-height;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: $padding;
    padding-left: $padding;
    margin-bottom: 1.5rem;
    box-shadow: 0 .15rem 1.75rem 0 rgba(38,39,49,.22);

    .leftDiv {
        cursor: pointer;
        transition: margin-left $delay;

        @media (max-width: $max-width-cellular) {
            margin-left: $nav-width-narrow;
        }
    }

    .isNorrow {
        @media (max-width: $max-width-cellular) {
            margin-left: 0px;
        }
    }
}

