@import '../../variables.scss';

.sideMenu {
    background-color: $light-blue;
    width: $nav-width;
    transition: width $delay;
    left: 0px;
    height: $body-height;
    color: $white;

    header {
        height: $header-height;
        display: flex;
        justify-content: center;
        align-items: center;
        
        svg {
            width: 2.1em;
            height: 2.1em;
            transition: width $delay, height $delay;

            &.isNorrow {
                width: 1.2em;
                height: 1.2em;

                @media (max-width: $max-width-cellular) {
                    width: 2.1em;
                    height: 2.1em;
                }
            }
        }
    }

    .menuItems {
        padding-right: 1rem;
        padding-left: 1rem;
        list-style-type: none;
        margin-block-start: 0em;
        margin-block-end: 0em;

        hr {
            margin-top: 0;
            margin-bottom: 0;
            border-color: rgba(255,255,255,.15);
        }

        .headerItem {
            margin-top: 1.0rem;
            margin-bottom: 1.0rem;
            position: relative;
        }

        .headerItem2 {
            margin-top: 2.0rem;
            margin-bottom: 2.0rem;
            position: relative;
        }
    }

    @media (max-width: $max-width-cellular) {
        position: absolute;
        transition: left $delay;
        width: $nav-width-narrow;
    }
}

.isNorrow {
    width: $nav-width-narrow;

    @media (max-width: $max-width-cellular) {
        width: $nav-width-narrow;
        left: -$nav-width-narrow;
    }
}