@import './variables.scss';

.wrapper {
    display: flex;
    flex-direction: row;
    height: $body-height;

    .body {
        display: flex;
        flex-direction: column;
        height: $body-height;
        flex: 1;

        .main-component {
            background-color: $light-gray;
            flex: 1;
            padding-left: 1.5rem;
            padding-right: 1.5rem;
        }
    }
}
    

