// size
$body-height: 100vh;
$header-height: 4.375rem;
$nav-width: 14rem;
$nav-width-narrow: 6.5rem;
$max-width-cellular: 640px;
$innermargin: 0.7em;

// delay
$delay: 1s;
$half-delay: 0.5s;

// colors
$dark-gray: #5c5d67;
$light-gray: #f8f9fc;
$white: white;
$light-blue: #0740e8;